[Unit]
Description=AceMarketing full production target
Requires=acemarketing-standard.target acemarketing-ml.service
After=acemarketing-standard.target
