[Unit]
Description=AceMarketing standard production target
Requires=acemarketing-core.target acemarketing-control-api.service acemarketing-platform-admin.service
After=acemarketing-core.target

[Install]
WantedBy=multi-user.target
